main {
    padding: 70px 0;
    display: flex;
}

main .text_area {
    display: flex;
    flex-direction: column;
}

main #safe {
    align-items: center;
    background-color: #247a561a;
    border-radius: 50px;
    color: var(--green);
    display: flex;
    font-size: 12px;
    font-weight: 600;
    gap: 8px;
    padding: 5px 10px;
    width: fit-content;
}

main #safe img {
    height: 12px;
    width: 12px;
}